Neos:
  Flow:
    security:
      authentication:
        providers:
          'Neos.Neos:Backend':
            provider: Neos\Ldap\Security\Authentication\Provider\NeosBackendLdapProvider
            providerOptions:

              connection:
                options:
                  host: localhost
                  port: 389
                  options:
                    protocol_version: 3
                    network_timeout: 10
                    referrals: 0
                bind:
                  dn: 'username@domain.com'
                  #dn: 'DOMAIN\user'
                  password: 'secret'

              baseDn: dc=my-domain,dc=com

              attributesFilter:
                account: ['dn']
                group: ['dn']

              query:
                account: '(samaccountname=%s)'
                memberOf: '(member:1.2.840.113556.1.4.1941:=%s)'

Neos:
  Ldap:
    roles:
      default:
        - 'Neos.Neos:RestrictedEditor'
      # map group memberships to roles
      groupMapping:
        'Neos.Neos:Administrator':
          - 'CN=Administrators,OU=Groups,DC=domain,DC=tld'
        'Neos.Neos:Editor':
          - 'CN=Editors,OU=Groups,DC=domain,DC=tld'
      # map certain users to roles
      userMapping:
        'Neos.Neos:Administrator':
          - 'CN=Admin,OU=Users,DC=domain,DC=tld'
        'Neos.Neos:Editor':
          - 'CN=Mustermann,OU=Users,DC=domain,DC=tld'
