Neos:
  Flow:
    security:
      authentication:
        providers:
          LdapProvider:
            provider: Neos\Ldap\Security\Authentication\Provider\LdapProvider
            providerOptions:
              type: 'Ldap'
              host: localhost
              port: 389
              baseDn: dc=my-domain,dc=com

              # If set, ping the server to verify it is online before binding.
              # This avoids long timeouts when the server is not available.
              pingServerFirst: TRUE

              group:
                membershipFilter: '(&(objectClass=posixGroup)(memberUid=%s))'
                dn: 'dn'
                cn: 'cn'

              bind:
                anonymous: TRUE
                dn:
                password:
              user:
                dn:

              # All PHP Ldap options can be set here. Make the constant lowercase
              # and remove the ldap_opt_ prefix.
              # Example: LDAP_OPT_PROTOCOL_VERSION becomes protocol_version
              ldapOptions:
                protocol_version: 3

              # ? will be replaced with the username provided
              filter:
                account: '(uid=?)'

                # this will use the filter with domain, set it to yes to remove it for search
                ignoreDomain: TRUE

              # will be prefixed to a given username if no other domain was specified
              domain: 'MY-DOMAIN'
