Neos:
  Flow:
    security:
      authentication:
        providers:
          ActiveDirectoryProvider:
            provider: Neos\Ldap\Security\Authentication\Provider\LdapProvider
            providerOptions:
              host: localhost
              port: 389

              baseDn: dc=my-domain,dc=com

              bind:
                provider: Neos\Ldap\Service\BindProvider\ActiveDirectoryBind

              # All PHP Ldap options can be set here. Make the constant lowercase
              # and remove the ldap_opt_ prefix.
              # Example: LDAP_OPT_PROTOCOL_VERSION becomes protocol_version
              ldapOptions:
                protocol_version: 3
                network_timeout: 10
                referrals: 0

              filter:
                # %s will be replaced with the username / dn provided
                account: '(samaccountname=%s)'
                memberOf: '(&(member=%s)(objectClass=group))'

                # this will use the filter with domain, set it to yes to remove it for search
                ignoreDomain: FALSE

              # will be prefixed to a given username if no other domain was specified
              domain: 'MY-DOMAIN'

Neos:
  Ldap:
    roles:
      default: []
        - 'Neos.Neos:RestrictedEditor'
      # map group memberships to roles
      groupMapping: []
        'Neos.Neos:Administrator':
          - 'CN=Administrators,OU=Groups,DC=domain,DC=tld'
        'Neos.Neos:Editor':
          - 'CN=Editors,OU=Groups,DC=domain,DC=tld'
      # map certain users to roles
      userMapping: []
        'Neos.Neos:Administrator':
          - 'CN=Admin,OU=Users,DC=domain,DC=tld'
        'Neos.Neos:Editor':
          - 'CN=Mustermann,OU=Users,DC=domain,DC=tld'
