TYPO3:
  Flow:
    security:
      authentication:
        providers:
          LdapProvider:
            provider: TYPO3\LDAP\Security\Authentication\Provider\LDAPProvider
            providerOptions:
              type: 'LDAP'
              host: localhost
              port: 389
              baseDn: dc=my-domain,dc=com

              bind:
                anonymous: TRUE
                dn:
                password:

              # All PHP LDAP options can be set here. Make the constant lowercase
              # and remove the ldap_opt_ prefix.
              # Example: LDAP_OPT_PROTOCOL_VERSION becomes protocol_version
              ldapOptions:
                protocol_version: 3

              # ? will be replaced with the username provided
              filter:
                account: '(uid=?)'

                # this will use the filter with domain, set it to yes to remove it for search
                ignoreDomain: TRUE

              # will be prefixed to a given username if no other domain was specified
              domain: 'MY-DOMAIN'
