---

Neos:
  Flow:
    security:
      authentication:
        providers:
          'Neos.Neos:Backend':
            provider: Neos\Ldap\Security\Authentication\Provider\NeosBackendLdapProvider
            providerOptions:
              baseDn: dc=my-domain,dc=com

              connection:
                bind:
                  dn: 'uid=ldapserviceuser,dc=example,dc=com'
                  password: 'secret'

                options:
                  host: localhost
                  port: 389
                  options:
                    network_timeout: 10
                    protocol_version: 3

              filter:
                account: ['dn']
                group: ['dn']

              query:
                account: '(uid=%s)'
                memberOf: '(&(objectClass=posixGroup)(memberUid=%s))'

  Ldap:
    roles:
      default:
        - 'Neos.Neos:RestrictedEditor'
      groupMapping:
        'Neos.Neos:Administrator':
          - 'CN=Administrators,OU=Groups,DC=domain,DC=tld'
        'Neos.Neos:Editor':
          - 'CN=Editors,OU=Groups,DC=domain,DC=tld'
          - 'CN=Administrators,OU=Groups,DC=domain,DC=tld'
      userMapping:
        'Neos.Neos:Administrator':
          - 'CN=Admin,OU=Users,DC=domain,DC=tld'
        'Neos.Neos:Editor':
          - 'CN=Mustermann,OU=Users,DC=domain,DC=tld'
